.container {
    position: absolute;
    /* height: 817px; */
    left: 53px;
    right: 52px;
    top: 80px;
    padding: 10px;
}

.navbar-custom {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px;
}

.header {
    color: white;
    background-color: black;
    text-align: center;
}
.card-list {
    
}

.rounded {
    width: 600px;
    height: 600px;
    padding: 5px;
}

.card {
    padding: 25px;
    position: fixed;
    border: solid;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}